{% extends "main.html" %}
{% block content %}
{% load static %}
{% block title %} 
    
    
    <div class="post-author">
        {% if post.author.profile_image %}
            <img src="{{ post.author.profile_image.url }}" alt="{{ post.author.username }}" class="author-profile-image" width="50" height="50">
        {% else %}
            <img src="{% static 'default-profile.png' %}" alt="{{ post.author.username }}" class="author-profile-image" width="50" height="50">
        {% endif %}
        <p><a href="{% url 'author_posts' post.author.username %}">
            <p>{{ post.author.username }}</p>
        </a></p>
    </div>
    
    <div class="article-content">
        {{ post.body|safe }}
        <div class="post-title">{{ post.title }}</div>
    </div>
    
    

    {% if user.is_authenticated %}
    
    <form method="post">
        {% csrf_token %}
       
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn-primary">ارسال</button>
    </form> 
    {% else %}
    <div class="not-available"><h3>لطفا برای ثبت نظر خود وارد شوید</h3></div>
    {% endif %}

    {% load static %}

    {% for comment in comments %}
    <div class="comment">
        <div class="comment-border">
            _____________________________________________________________________________________________
        </div>
        <div class="comment-author">
                <p style="margin: 5px;">{{ comment.author.username }}</p>
                {% if comment.author.profile_image %}
                    <img src="{{ comment.author.profile_image.url }}" alt="Profile Image" class="profile-image" style="width: 50px; height: 50px; border-radius: 50%;">
                {% else %}
                    <img src="{% static 'default-profile.png' %}" alt="Default Profile Image" class="profile-image" style="width: 50px; height: 50px; border-radius: 50%;">
                {% endif %}  
        </div>
        <div>

            
        </div>
            <div class="comment-text">
                <p style="width: 900px; word-wrap: break-word; display: block;">{{ comment.body }}</p>
            </div>
    </div>
    {% endfor %}
    {% endblock title %}
{% endblock content %}



