* {
    padding: 0;
    box-sizing: border-box;
    
}


a {
    
    text-decoration: none;  
    color: #000000; 
    transition: color 0.3s ease, transform 0.3s ease;
}


a:hover {
    color: #1b3769; 
}


a:active {
    color: #1b3769; 
}

body {
    font-style: Vazirmatn;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 2s forwards;
    
    text-align: right; 
            
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* پس‌زمینه روشن‌تر */
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
}
        
   
   
.header a {
    text-decoration: none;
    color: white;
    
    transition: color 0.3s, transform 0.3s;
}

.header a img {

     max-height: 70px;

}

.title {

    padding-top: 9vh;
    padding-right: 15px;
}

.header h1 {
    margin: 0;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    color: rgb(0, 0, 0);
}

.photos {
    height: 200px;
    border-radius: 20px;      
            
}

.scroll-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: color 0.3s, transform 0.3s;
            
}
.scroll-container:hover {
    transform: scale(1.005);
    color: #000000;
}

.scroll-item {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: #2b2b2c;
    clear: both;
}
.body {
    flex: 1; 
    padding: 20px;
    
}

footer h3 {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a img {
    height: 30px; 
}

footer a:hover {
    color: #000000;
    transition: color 0.3s, transform 0.3s;
    transform: scale(1.2);
}
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto 25px; 
}
.form-control {
    resize: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.form-control input[type="text"]:focus,
.form-control input[type="email"]:focus,
.form-control input[type="password"]:focus {
    border-color: #000000;
    outline: none;
}

.btn-primary {
    font-family: Vazirmatn;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0px 15px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-primary:hover {
    transform: scale(1.05);
}

.profile {


    padding-bottom: 39vh;
    display: flex;
    justify-content: center;
}

body p {
    padding: 2;
}

.latest-posts-container {
    text-align: center;
    position: relative;
    padding-top: 100px;
    display: flex;
    margin-bottom: 20px;
    color: #000000;
}

.latest-post {
    
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    color: #000000;
    box-sizing: border-box;
}

.latest-post img {
    width: 32.8vw;
    height: 20vw; 
    object-fit: cover; 
    margin-bottom: 10px;
    transition: filter 0.4s ease;

}

.other-posts-container {
    column-gap: 1.5vw;
    padding-right: 15vw;
    padding-left: 15vw;
    columns: 2;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 50px;
    color: #000000;
    transition: border-color 0.3s ease;
    transition: color 0.3s, transform 0.3s;

}
.other-post {

    margin-bottom: 15px;
    
}

.other-post img {
    width: 100%;
    height: 20vw; 
    object-fit: cover; 
    border-radius: 50px;
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}



.latest-post-title {
    border-top: 1px solid;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
}

.other-post-title {
    border-top: 1px solid;
}


.latest-post-image:hover {

    filter: blur(5px);

}

.other-post-image:hover {

    transform: scale(1.05);

}



.dark {

    background-color: #2b2b2c;
    color: #f0f0f0;
    
}
body.dark {
    background-color: #2b2b2c;
    color: #ffffff;
}
body.dark .header {
    background-color: #2b2b2c;
}


body.dark {
    background-color: #2b2b2c;
    color: #ffffff;
}



body.dark a {
    color: #ffffff; 
}



body.dark .grid-item,
body.dark .scroll-item,
body.dark .form-control {
    background-color: #2b2b2c;
    color: #ffffff; 
}

body.dark .latest-posts-container,
body.dark .other-posts-container,
body.dark .latest-post,
body.dark .other-posts-container .post-card {
    background-color: #2b2b2c;
    color: #ffffff; 
}

body.dark .latest-posts-container h3 a p,
body.dark .other-posts-container h3 a p,
body.dark .latest-post h3 a p {
    color: #ffffff; 
}

.latest-posts-container h3 a p,
.other-posts-container h3 a p,
.latest-post h3 a p {
    color: #000000;
}
body.dark .dropdown-content {

    background-color: #2b2b2c;
}
body.dark .dropbtn {

    color: white;
    background-color: #2b2b2c;
}
body.dark .btn-primary {
    color: white;
    background-color: #2b2b2c;
}
body.dark form {

    background-color: #2b2b2c;
}
.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    margin-right: 10px;  
}

.article-content img {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 100%; 
    height: auto;     
    display: block;        
    margin: 10px auto;         
}


.article-content {

    text-align: right;
    padding-left : 400px;
    padding-right: 400px;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;

}

body, h1, h2, h3, p, a {
    font-family: 'Vazirmatn', sans-serif;
}

.post-author {
    display: flex;
    padding-top : 100px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.post-title {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;

}

.dashboard-form {

    display: flex;
    justify-content: space-around;

}

.profile-form {

    display: flex;
    flex-direction: column;

}
.comment {



    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.comment-text {


    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-author {

    padding-right: 450px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   

}
.comment-border {

    display: flex;
    justify-content: center;


}

.comment-body {

    display: flex;
    justify-content: center;
    padding: 5px;


}
.not-available {

    display: flex;
    justify-content: center;

}

.author-profile-image {
    padding: 5px ;
    border-radius: 50%;
    margin-right: 10px;
}


.main-content {

    padding-top: 80px;
}

.login-form {

    margin-bottom : 43vh;
    margin-top : 25vh;


}
.register-form {

    margin-bottom : 25vh;
    margin-top : 25vh; 

}

.errorlist {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    list-style: none;
}


.dropbtn {
  background-color: white;
  padding-left: 15px;
  font-family: Vazirmatn;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}


@media (max-width: 1000px) {
    .article-content {
        padding-left: 0;
        padding-right: 0;
    }

    .comment-border {
        font-size: 8px;
    }
    .comment-author {
        padding-right: 0px;
    }
    .comment-text p {

        width: 280px;

    }
   .latest-posts-container {
    
        display: block;

   }

   .latest-post img {

    width: 100%;
    height: auto;
    border-radius: 50px;

   }

   .latest-post-title {

        position: static;
        top: auto;

   }
    .nav-links {

        display: flex;
        font-size : 1px;
        flex-wrap: nowrap;
    }

    .nav-links a {
        font-size : 12px;
        width: auto; 
        text-align: center; 
    }

    .header {
        padding: 10px; 
        font-size: 25px;
        display: flex;
       
    }
    .header a img {

        height: 35px;

    }

    footer {
        display: flex;
    }

    footer h3 {
        margin-bottom: 7px; 
    }

    footer a {
        margin-bottom: 5px; 
        width: auto; 
        text-align: center; 
    }
    .other-posts-container {

        font-size: 15px;
        padding-right: 0px;
        padding-left : 0px;
        columns: 1;

    }

    .other-post {
        margin: 7px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .other-post img {

        height: auto;
    }

    .register-form {

        margin-bottom: 20vh;
        margin-top : 19vh;

    }
    .login-form {

        margin-bottom: 37vh;
    }
    .dropbtn {

        font-size: 12px;
    }
}





